span.re-index {
	background: url(spinner.gif) 100% 50% no-repeat;
	padding-right: 25px;
}

td.count-column {
	width: 200px;
}

span#search-index-config {
	display: none;
}

p.intro {
	margin: 5px 19px;
	color: #887;
}

.search-index-log-filters {
	margin: 0.5em 0 1.75em 0;
    padding: 1em 19px;
    vertical-align: middle;
    border-bottom: 1px solid #e6e6e5;
	-moz-box-shadow: 0 3px 8px #f5f5f4;
	-webkit-box-shadow: 0 3px 8px #f5f5f4;
}
/*.filters .field,
.filters input {
	margin: 0 0.3em;
	padding: 0.1em;
}
.filters .field {
	margin-left: 0;
}
.filters .value {
	width: 25em;
	margin: 0 0.3em 0 0.6em;
}
.filters input.apply {
	margin-right: 0;
}
.filters input.clear {
	margin-left: 0;
}*/