span.re-index {
	background: url(spinner.gif) 100% 50% no-repeat;
	padding-right: 25px;
}

td.count-column {
	width: 50%;
}

span#search-index-config {
	display: none;
}

p.intro {
	margin: 5px 19px;
}